.catalog{
    padding: 0 0 78px;

    @media(max-width: 767px){
        padding: 0 0 40px;
    }

    &__title{
        text-align: left;
        margin-bottom: 31px;

        @media(max-width: 1279px){
            font-size: 60px;
        }

        @media(max-width: 767px){
            font-size: 24px;
        }
    }

    &__controls{
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        margin: 0 -15px;

        @media(max-width: 1279px){
            flex-wrap: wrap;
            margin: -15px;
        }

        @media(max-width: 767px){
            flex-wrap: wrap;
            margin: -10px;
            padding-bottom: 20px;
        }
    }

    &__controls-item{
        width: 327px;
        height: 147px;
        border: none;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        background-position: 50% 65%;
        background-size: cover;
        margin: 0 15px;

        @media(max-width: 1279px){
            flex: 1 45%;
            margin: 15px;
            height: 142px;
        }

        @media(max-width: 767px){
            flex: 1 40%;
            margin: 10px;
            height: 149px;
        }
    
        &::before{
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: linear-gradient(180deg, rgba(7, 44, 38, 0.5) 0%, rgba(7, 44, 38, 0) 100%);
            transform: rotate(-180deg); 
        }

        &:hover{
            &::before{
                cursor: pointer;
                background: linear-gradient(351.3deg, rgba(203, 141, 98, 0) 33.24%, #CB8D62 104.72%);
                transform: rotate(180deg);
            }

            & .catalog__controls-text{
                font-weight: 800;

                @media(max-width: 767px){
                   font-weight: 400;
                }
            }
        }

        &:nth-child(1){
            background-image: url("@img/product-1.jpg");
        }
        &:nth-child(2){
            background-image: url("@img/product-2.jpg");
        }
        &:nth-child(3){
            background-image: url("@img/product-3.jpg");
        }
        &:nth-child(4){
            background-image: url("@img/product-4.jpg");
        }
    }

    &__controls-text{
        width: 100%;
        text-align: center;
        color: $white;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        font-size: $font-size-large;
        line-height: 19px;
        padding: 0 10px;
        margin: 0;

        @media(max-width: 767px){
           font-size: 12px;
           bottom: 10px;
           padding: 0 5px;
        }
    }

    &__filter-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 0;
        margin-bottom: 36px;
        border-top: 1px solid $gallery;
        padding-top: 40px;

        @media(max-width: 767px){
            padding-top: 20px;
            flex-wrap: wrap;
            width: 100%;
        }

    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        padding-bottom: 50px;

        @media(max-width: 1279px){
            margin: -10px;
        }
    }

    &__item{
        flex: 1 30%;
        justify-content: space-between;
        margin: 15px;

        @media(max-width: 1279px){
            flex: 0 1 47%;
            margin: 10px;

            & .preview-card,
            & .preview-card-sale{
                width: 100%;
            }
        }

        @media(max-width: 767px){
             flex: 1 100%;

             &:last-child{
                flex: 1 100%;
            }
        }

        &:hover{
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
        }
    }
}

.filter-item{
    font-weight: 500;
    font-size: $font-size-large;
    line-height: 19px;
    color: $black-pearl;
    

    @media(max-width: 767px){
       width: 100%;
    }

    &__search{
        width: 208px;
        padding-bottom: 10px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $black-pearl;

        @media(max-width: 767px){
           width: 100%;
           margin-bottom: 20px;
        }
        

        &::placeholder{
            color: $black-pearl;
            background-image: url("@img/svg-icons/search.svg");
            background-repeat: no-repeat;
            background-position: right;
        }
    }

    &__select-box{
        display: flex;
        align-items: center;

        @media(max-width: 767px){
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;
            font-size: $font-size-normal;
            line-height: 15px;
        }

        & .custom-select{
            width: auto;

            &--active{
                .custom-select__option--value{
                    &::after{
                        top:10px;
                        transform: rotate(135deg);
                        @media(max-width:767px){
                            top:9px;
                        }
                    }
                }
            }
        }

        & .custom-select__option{
            border: none;

            &--value{
                font-weight: 800;
                font-size: 20px;
                text-align: left;
                padding: 0;
                padding-right: 35px;

                @media(max-width: 767px){
                    font-size: $font-size-medium;
                    font-weight: 700;
                }
                &::after{
                    top: 6px;
                    border-width: 0;
                    border-left: 3px solid black;
                    border-bottom: 3px solid black;
                    width: 10px;
                    height: 10px;
                    transform: rotate(-45deg);
                    @media(max-width:767px){
                        top: 5px;
                    }
                }

                &:hover{
                    background: none;
                }
            }
        }

        & .custom-select__dropdown{
            width: auto;
            border-width: 1px 1px 1px;
            right: 0;
            left: auto;
        }
    }

    &__text{
        margin-right: 18px;

    }

    &__select{
        border: none;
        padding-right: 8px;
        font-weight: 700;
    }
    
}