.form{
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    &__top{
        text-align: center;
        padding: 45px 35px 30px;

        @media(max-width: 767px){
            padding: 28px 21px 30px;
        }
    }

    &__title{
        font-size: 35px;
        line-height: 37px;
        margin-bottom: 24px;

        @media(max-width: 767px){
            font-size: 24px;
            line-height: 25px;
        }
    }

    &__list{
        list-style-type: none;
        list-style-position: outside;
        counter-reset: item1;
    }

    &__item{
        border-bottom: 1px solid $black-haze;
        margin-bottom: 30px;
        position: relative;

        &::before{
            position: absolute;
            counter-increment: item1;
            content: counter(item1);
            top: -8px;
            left: 0;
            width: 36px;
            height: 36px;
            background: linear-gradient(278.32deg, #0B3F37 -7.03%, #CB8D62 136.33%);
            font-weight: 800;
            font-size: 30px;
            line-height: 29px;
            color: $white;
            text-align: center;
            padding-top: 5px;
        }

        &:last-child{
            border-bottom: none;
            margin-bottom: 0;
        }
    }

    &__item-title{
        font-weight: 600;
        font-size: 27px;
        line-height: 26px;
        padding-left: 58px;
        margin-bottom: 37px;
        position: relative;

        @media(max-width: 767px){
            font-weight: 500;
            font-size: $font-size-medium;
            line-height: 17px;
            padding-top: 2px;
        }
    }

    &__item-btn{
        @media(max-width: 1279px){
            flex-basis: 48%;
            width: 48%;
        }

        @media(max-width: 767px){
            flex-basis: 100%;
            width: 100%;
        }
    }

    &__input-box{
        display: flex;
        width: 100%;
        
        & .form__input{
            width: 68%;
        }
    }

    &__input-box-btn{
        width: 126px;
        border: none;
        text-transform: none;
        font-size: $font-size-small;
    }

    &__inputs-row{
        width: 685px;
        display: flex;
        justify-content: space-between;
        position: relative; 

        @media(max-width: 1279px){
            width: 100%;
        }

        @media(max-width: 767px){
            flex-direction: column;
            width: 100%;
        }

        &--payment{
            @media(max-width: 767px){
                flex-direction: row;
                flex-wrap: wrap;

                & .form__input-label{
                    flex-basis: 100%;
                    
                    & .form__input{
                        width: 100%;
                    }
                }

                & .form__input-label--card-date{
                    flex-basis: 48%;
                }

                & .form__input-label--card-cvv{
                    flex-basis: 48%;
                }
            }
        }

        & .form__input{
            flex-basis: 48%;

            &--card{
            
            }

            &--card-date{
                flex-basis: 21%;

                @media(max-width: 767px){
                    width: 48%;
                }
            }

            &--card-cvv{
                flex-basis: 21%;

                @media(max-width: 767px){
                    width: 48%;
                }
            }
        }
    }

    &__input-label{
        position: relative;

        &--password{
            flex-basis: 48%;

            & .form__input-inside-btn{
                position: absolute;
                display: block;
                width: 18px;
                height: 18px;
                top: 20%;
                right: 20px;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }

        &--card{
            flex-basis: 48%;

            svg{
                position: absolute;
                content: "";
                width: 18px;
                height: 14px;
                top: 18px;
                right: 20px;
            }
        }

        &--card-date,
        &--card-cvv{
            flex-basis: 21%;
            
            &::after{
                position: absolute;
                top: 16px;
                left: 10px;
                color: $silver-chalice;
                font-size: $font-size-medium;
            }
        }

        &--card-date{
            &::after{
                content:"Дата: "
            }
        }

        &--card-cvv{
            &::after{
                content:"CVV: "
            }
        }
    }

    &__input{
        width: 100%;
        height: 50px;
        border: 1px solid $silver-chalice;
        border-radius: 0;
        padding: 16px 20px;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: $font-size-medium;
        line-height: 19px;
        
        @media(max-width: 767px){
            margin-bottom: 20px;
        }

        &--small{
            font-size: $font-size-small;
        }

        &--password{
           padding-right: 60px;
        }
        
        &--card-date{
            padding-left: 82px;
        }

        &--card-cvv{
            padding-left: 100px;
        }

        &::placeholder{
            color: $silver-chalice;
        }
    }

    &__text{
        color: $white;
        font-weight: 600;
        font-size: $font-size-medium;
        line-height: 20px;

        @media(max-width: 767px){
            font-size: $font-size-normal;
        }
    }

    &__link{
        font-weight: 600;
        font-size: $font-size-medium;
        line-height: 20px;

        @media(max-width: 767px){
            font-size: $font-size-normal;
        }

        &--gradient{
            @extend %gradient-text;
            padding-bottom: 2px;
            border-bottom: 1px solid;

            @media(max-width: 767px){
                font-size: $font-size-medium;
            }
        }

        &--white{
            color: $white;
        }

        &--bold{
            font-weight: 800;
        }
    }

    &__btn{
        width: 100%;
        margin-top: 27px;

        &--mt0{
            margin-top: 0;
        }
    }

    &__buttom{
        background: linear-gradient(285.45deg, #0B3F37 38.27%, #CB8D62 141.81%);
        padding: 24px 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media(max-width: 767px){
            padding: 24px 19px;
        }
    }

    &__radio{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        cursor: pointer;
    }

    &__radio-input{
        width: 0;
        height: 0;
        opacity: 0;
        z-index: -1;
        display: block;
        position: absolute;

        &:checked + .form__radio-circle{
            background-color: $white;
            background-image: url("@img/radio.png");
            background-repeat: no-repeat;
            background-position: center;
            border: none;
        }
    }

    &__radio-circle{
        width: 21px;
        height: 21px;
        background-color: $white;
        border: 2px solid $silver-chalice;
        border-radius: 50%;
        position: absolute;
        margin-top: -2px;
    }
    
    &__radio-title{
        color: $silver-chalice;
        font-weight: 800;
        font-size: $font-size-large;
        line-height: 19px;
        margin-left: 35px;

        @media(max-width: 767px){
            font-size: $font-size-normal;
            line-height: 15px;
        }

        &--checked{
            @extend %gradient-text;
        }
    }
    
    &__radio-text{
        margin-top: 17px;
        margin-bottom: 13px;
        max-width: 400px;
        font-weight: 400;
        font-size: $font-size-small;
        line-height: 19px;
    }
    
}