.header-form{
    padding: 45px 0 55px;
    background-image: url("@img/header-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 767px){
        height: 94px;
    }

    & .logo{
        width: 161px;
    }
}