.menu {
    @media(max-width: 1278px) {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: auto;
    }

    &__list {
        display: flex;
        margin-left: 76px;
        margin-right: auto;

        @media(max-width: 1278px) {
            margin: 50px auto 0;
        }

        @media(max-width: 767px) {
            z-index: 100000;
            display: block;
            transform: translateX(-150%);
            transition: all .5s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
            position: absolute;
            height: 100vh;
            top: -50px;
            bottom: 0;
            left: -15px;
            right: -15px;

            &.menu__list--active {
                transform: translateX(0);
                transition: all .5s;
            }
        }
    }

    &__item+.menu__item {
        margin-left: 50px;

        @media(max-width: 767px) {
            margin-left: 0;
        }
    }

    &__link {
        color: $white;
        padding-bottom: 4px;
        border-bottom: 1px solid transparent;
        transition: all .3s;
        font-weight: 500;

        @media(max-width: 767px) {
            font-size: 30px;
            line-height: 210.9%;
            border: none;
        }

        &:hover {
            border: 0;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-image: linear-gradient(92.18deg, #A26D4C 20.13%, #E4A16F 92.93%);
            border-image-slice: 1;
            font-weight: 700;
            @extend %gradient-text;
            cursor: pointer;
            transition: all .3s;

            @media(max-width: 767px) {
                border: none;
            }
        }
    }

    &__btn {
        position: absolute;
        display: none;

        @media(max-width: 767px) {
            display: block;
            top: 25px;
            right: -15px;
            width: 50px;
            height: 35px;
            padding-left: 10px;
            border: none;
            border-radius: 0;
            cursor: pointer;
            background-image: linear-gradient(92.18deg, #BD835B 20.13%, #E4A16F 92.93%);
        }
    }

    &__close {
        order: 2;
        width: 20px;
        height: 20px;
        margin-left: auto;
        margin-right: 15px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            top: 8px;
            left: 0;
            background-color: $white;
            border-radius: 50px;
            transform: rotate(45deg);
        }

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            top: 8px;
            left: 0;
            background-color: $white;
            border-radius: 50px;
            transform: rotate(-45deg);
        }
    }

}