.table{
    border-collapse: collapse;
    align-self: start;

    &__header{
        height: 50px;
        color: $silver-chalice;
        text-align: left;
        
        @media(max-width: 767px){
            display: none;
        }

        & th{
            font-weight: 400;
        }
    }
    
    &__row{
        height: 119px;

        @media(max-width: 767px){
            height: auto;
        }

        td{
            border-top: 1px solid $silver-chalice;

            @media(max-width: 767px){
                display: flex;
            }
        }
    }

    & .table-item{
        position: relative;

        @media(max-width: 767px){
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 30px;
            margin-top: 19px;
        }

        &__info{
            display: flex;
            align-items: center;
            padding: 20px 0;

            @media(max-width: 767px){
                padding: 20px 0;
            }
        }

        &__image{
            margin-right: 33px;
        }

        &__title{
            width: 268px;
            font-weight: 800;
            font-size: $font-size-medium;
            line-height: 24px;
            text-transform: uppercase;

            @media(max-width: 767px){
                font-size: $font-size-normal;
                line-height: 21px;
            }
        }

        &__amount,
        &__price,
        &__date{
            font-weight: 600;
            font-size: $font-size-large;
            line-height: 26px;

            @media(max-width: 767px){
                border: none;
            }
        }

        &__amount{
            @media(max-width: 1279px){
                margin-left: 120px;
            }
        }

        &__price{
            @media(max-width: 767px){
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                align-content: flex-start;
                margin-top: -30px;
            }
        }

        &__price-old{
            margin: 0;
            font-size: $font-size-small;
            line-height: 13px;
            opacity: 0.3;
            margin-bottom: 2px;
            position: relative;

            @media(max-width: 767px){
                margin-right: 35px;
            }
            
            &::before{
                position: absolute;
                content:"";
                top: 4px;
                left: -5px;
                height: 2px;
                width: 68px;
                background-color: $text-main-color;
                opacity: 0.3;
                transform: rotate(10deg);
            }
        }

        &__price-new{
            margin: 0;
            font-weight: 800;
            color: $sangria;
        }

        &__status{
            font-weight: 800;
            font-size: $font-size-medium;
            line-height: 24px;

            @media(max-width: 767px){
                justify-content: flex-end;
            }

            &--send{
                color: $status-send;
            }

            &--delivered{
                color: $status-delivered;
            }

            &--expected{
                color: $status-expected;
            }

            &--canceled{
                color: $status-canceled;
            }
        }

        &__delete{
            position: relative;
            width: 28px;
            align-self: flex-end;

            @media(max-width: 1279px){
                order: -1;
            }

            @media(max-width: 767px){
                border: none;
                justify-content: flex-end;
                margin-bottom: -19px;
            }
        }

        &__delete-btn{
            position: absolute;
            top: 20px;
            width: auto;
            height: 25px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            width: 36px;
            height: 36px;
            margin-left: -10px;
            margin-top: -20px;

            @media(max-width: 1279px){
                top: 20px;
                width: auto;
                height: 25px;
                margin-top: -10px;
            }

            @media(max-width: 767px){
                top: 5px;
            }
        }
    }
    
}