.tabs{
    &__navigation{
        flex-shrink: 0;
        width: 326px;
        margin-right: 30px;
        font-weight: 800;
        font-size: 18px;
        line-height: 17px;

        @media(max-width: 1279px){
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-right: 0;
            margin-bottom: 36px;
        }
    }

    &__navigation-item{
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        color: $white;
        text-transform: none;
        padding-left: 20px;
        text-align: left;
        background: linear-gradient(278.32deg, #0B3F37 -7.03%, #CB8D62 136.33%);
        position: relative;

        svg{
            fill: $white;
            margin-right: 20px;
        }

        @media(max-width: 1279px){
            width: 32%;
            font-size: $font-size-normal;
        }

        @media(max-width: 767px){
            width: 100%;
            margin-bottom: 20px;
        }

        &:hover{
            background: linear-gradient(278.32deg, #0B3F37 -7.03%, #CB8D62 136.33%);
            border: none;
            color: $white;
        }

        &--active{
            background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
            border: none;
            color: $white;

            &:hover{
                background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
            }
        }
    }

    &__navigation-link-box{
        @media(max-width: 1279px){
            width: 100%;
        }
    }

    &__navigation-link{
        color: $black-pearl;
        padding-left: 37px;
        position: relative;

        @media(max-width: 1279px){
            width: 100%;
        }

        &::before{
            position: absolute;
            content: "";
            width: 18px;
            height: 18px;
            top: -2px;
            left: 0;
            background-image: url("@img/icons/icons.svg#exit");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__content{
        flex-grow: 1;
    }

    &__content-tiem{
        display: none;

        &--active{
            display: block;
        }
    }
    
}