.total-box{
    background-image: url("@img/total-box-bg.png");
    background-repeat: no-repeat;
    background-position: right -20%;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);

    &__top{
        border-bottom: 1px solid $silver-chalice;
        padding: 25px 25px 30px;

        @media(max-width: 767px){
            text-align: left;
            padding: 20px 20px 24px;
        }
    }

    &__title{
        text-transform: none;
        margin: 0 0 20px;
        font-weight: 300;
        font-size: 35px;
        line-height: 34px;

        @media(max-width: 767px){
            font-size: 24px;
            line-height: 23px;
            margin: 0 0 12px;
        }
    }

    &__price-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    
    &__sum{
        font-weight: 800;
        font-size: 40px;
        line-height: 39px;
        
        @media(max-width: 767px){
            font-size: 30px;
            line-height: 29px;
        }
    }

    &__discount{
        display: none;
        flex-direction: column;
        font-size: $font-size-small;
        line-height: 19px;
    }

    &__discount-num{
        font-weight: 800;
        color: $sangria;
    }
    
    &__bottom{
        padding: 25px 38px 30px;

        @media(max-width: 767px){
            padding: 25px 20px 30px;
        }
    }

    &__delivery{
        display: flex;
        align-items: center;
    }

    &__delivery-image{
        display: block;
        margin-right: 19px;
    }

    &__delivery-text{
        margin: 0;
        width: 150px;
    }

    &__btn{
        margin: 0 38px;
        width: auto;
        text-transform: none;

        @media(max-width: 1279px){
            margin: 0 auto 41px;
            width: 374px;
        }

        @media(max-width: 767px){
            width: auto;
            margin: 0 20px 20px;
        }
    }
    
}