@font-face{
	font-family: Mont;
	font-display: swap;
	src: local("Mont-Black"), url("../fonts/Mont-Black.woff2") format("woff2"), url("../fonts/Mont-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family: MontItalic;
	font-display: swap;
	src: local("Mont-BlackItalic"), url("../fonts/Mont-BlackItalic.woff2") format("woff2"), url("../fonts/Mont-BlackItalic.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family: MontItalic;
	font-display: swap;
	src: local("Mont-BoldItalic"), url("../fonts/Mont-BoldItalic.woff2") format("woff2"), url("../fonts/Mont-BoldItalic.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Mont;
	font-display: swap;
	src: local("Mont-Bold"), url("../fonts/Mont-Bold.woff2") format("woff2"), url("../fonts/Mont-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Mont;
	font-display: swap;
	src: local("Mont-Heavy"), url("../fonts/Mont-Heavy.woff2") format("woff2"), url("../fonts/Mont-Heavy.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: MontItalic;
	font-display: swap;
	src: local("Mont-HeavyItalic"), url("../fonts/Mont-HeavyItalic.woff2") format("woff2"), url("../fonts/Mont-HeavyItalic.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: Mont;
	font-display: swap;
	src: local("Mont-Light"), url("../fonts/Mont-Light.woff2") format("woff2"), url("../fonts/Mont-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: Mont;
	font-display: swap;
	src: local("Mont-Regular"), url("../fonts/Mont-Regular.woff2") format("woff2"), url("../fonts/Mont-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: MontItalic;
	font-display: swap;
	src: local("Mont-RegularItalic"), url("../fonts/Mont-RegularItalic.woff2") format("woff2"), url("../fonts/Mont-RegularItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: MontItalic;
	font-display: swap;
	src: local("Mont-LightItalic"), url("../fonts/Mont-LightItalic.woff2") format("woff2"), url("../fonts/Mont-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: Mont;
	font-display: swap;
	src: local("Mont-SemiBold"), url("../fonts/Mont-SemiBold.woff2") format("woff2"), url("../fonts/Mont-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: MontItalic;
	font-display: swap;
	src: local("Mont-SemiBoldItalic"), url("../fonts/Mont-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Mont-SemiBoldItalic.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: Mont;
	font-display: swap;
	src: local("Mont-Thin"), url("../fonts/Mont-Thin.woff2") format("woff2"), url("../fonts/Mont-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face{
	font-family: MontItalic;
	font-display: swap;
	src: local("Mont-ThinItalic"), url("../fonts/Mont-ThinItalic.woff2") format("woff2"), url("../fonts/Mont-ThinItalic.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face{
	font-family: Lighthaus;
	font-display: swap;
	src: local("Lighthaus"), url("../fonts/Lighthaus.woff2") format("woff2"), url("../fonts/Lighthaus.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: MontItalic;
	font-display: swap;
	src: local("Mont-ExtraLightItalic"), url("../fonts/Mont-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Mont-ExtraLightItalic.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face{
	font-family: Mont;
	font-display: swap;
	src: local("Mont-ExtraLight"), url("../fonts/Mont-ExtraLight.woff2") format("woff2"), url("../fonts/Mont-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
