html{
    height: 100%;
    overflow-x: hidden;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: Mont;
    font-weight: 300;
    font-size: $font-size-normal;
    color: $text-main-color;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

main{
    flex-grow: 1;
}

a{
    color: inherit;
}

%gradient-text{
    background: linear-gradient(92.18deg, #A26D4C 20.13%, #E4A16F 92.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #A26D4C;
}


