.svg-heart-dims{ 
    max-width: none;
    width: auto;  
    height: 30px;

}
.svg-user-dims{ 
    max-width: none;
    width: auto;  
    height: 30px; 
}
.svg-shopping-cart-dims { 
    max-width: none; 
    width: auto;  
    height: 21px; }

.svg-shopping-cart-grad-dims{ 
    max-width: none;
    width: auto; 
    height: 28px; 
}
.svg-menu-dims{
    width: 20px;
    height: 20px; 
}
.svg-twitter-dims { max-width: none; width: auto; height: 17px; }
.svg-facebook-dims { max-width: none; width: auto; height: 18px; }
.svg-instagram-dims { max-width: none; width: auto; height: 18px; }

.svg-arrow-left-dims { 
    width: 28px; 
}

.svg-arrow-right-dims { 
    width: 28px; 
}
.svg-arrow-right-wite-bg-grad-dims { width: 89px; height: 50px; }

.svg-search-dims { width: 15px; height: 15px; }

.svg-trash-dims { width: auto; height: 18px; }