.svg-heart-dims{ 
    width: 30px;  
    height: 30px;

}
.svg-user-dims{ 
    width: 30px; 
    height: 30px; 
}
.svg-shopping-cart-dims { width: 21px; height: 21px; }
.svg-shopping-cart-grad-dims{ 
    width: 28px; 
    height: 28px; 
}
.svg-menu-dims{
    width: 20px;
    height: 20px; 
}
.svg-twitter-dims { width: 22px; height: 17px; }
.svg-facebook-dims { width: 18px; height: 18px; }
.svg-instagram-dims { width: 19px; height: 18px; }