
$screen-big: "(min-width: 1280px)";
$screen-medium: "(min-width: 768px)";

// Fonts
$font-size-medium: 18px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-extraSmall: 12px;

//Colors

$white: #ffffff;
$grey: #ADADAD;
$accent: #5e3928;
$black-pearl: #031412;